Flask-SQLAlchemy
Flask-WTF
beautifulsoup4
chardet
chromium_compact_language_detector
cssselect
feedparser
flask
lxml>=3.2.0
pymongo
python-dateutil
requests
nose
mongo-connector
# Version 3.1 of tweepy does not send the URL as a bytestring to pyopenssl, and
# this breaks the stream capture. For now, we'll use the 2.3.0 version.
tweepy==2.3.0
pypln.api
geopy
sphinxit
goose-extractor
elasticsearch
urllib3
sphinx
