{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <script type="text/javascript">
        $.data(document,"query", "")
        $(document).ready(criaTabela);
        function criaTabela() {
            var oTable = $('#articles').dataTable({
                "bProcessing": true,
                "fnInitComplete": function (oSettings, json) {
                    $(".text").linker();
                },
                "bFilter": true,
                "sAjaxSource": "/articles/json/{{ query }}",
                "aoColumns": [
                    {% for key in keys %}
                        {% if key == "link" %}
                            { "mData": "{{ key }}", sType: "html" },
                        {% elif key == "published" %}
                            { "mData": "{{ key }}", sType: "date" },
                        {% else %}
                            { "mData": "{{ key }}", sClass: "text"},
                        {% endif %}
                    {% endfor %}
                ]
            });
            // $(".text").linker();
        }
        function recriaTabela(){
            criaTabela();
        }
    </script>
    <div class="page-header">
        <h1>Articles Downloaded</h1>

        <p>We currently have {{ n_articles }} articles in our database.</p>

        <div class="row">
            <div class="col-lg-6">
                <form action="{{ url_for("articles", query=query)}}" method="get">
                <div class="input-group">
                    <input id="search-box" type="text" class="form-control" name="query">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Buscar!</button>
                    </span>
                </div><!-- /input-group -->
                </form>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->

    </div>

    <div id="dynamic">
        <div id="article_wrapper" class="dataTables_wrapper" role="grid">

            <table id="articles" cellpadding="5" cellspacing="0" border="0" class="display dataTable">
                <thead>
                <tr>
                    {% for key in keys %}
                        <th width="20%" class="sorting_asc" role="columnheader" tabindex="0"
                            aria-controls="articles" rowspan="1" colspan="1" style="width: 132px;"
                            aria-sort="ascending"
                            aria-label="{{ key }}: activate to sort column descending">{{ key }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>
                <tr>
                    {% for key in keys %}
                        <th rowspan="1" colspan="1">{{ key }}</th>
                    {% endfor %}
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    </div>

{% endblock %}
