{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block extra_head %}
    <script type = "text/javascript" src="/static/js/storyjs-embed.js"></script>
    <script>
    $(document).ready(function() {
        createStoryJS({
            type:       'timeline',
            width:      '1000',
            height:     '600',
            source:     '{{ url_for('json_timeline') }}',
            lang: '/static/js/locale/pt-br.js',
            embed_id:   'my-timeline'
        });
    });
    </script>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Buscar!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
</div>
<div id='my-timeline'></div>
{% endblock %}
